#container {
  position: relative;
}

.pad {
  height: 150px;
}

.box {
  border: 1px solid black;
  border-radius: 5px;
  margin: 15px 0;
  padding: 10px 0;
}

.outer-box {
  margin-top: 25px;
}

/*#one {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: red;
}

#two {
  position: absolute;
  left: 400px;
  height: 100px;
  width: 100px;
  background-color: blue;
}*/